/* Full navbar container */
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 10vh;
  padding: 0 2rem;
  font-family: 'Gothic A1', sans-serif;
}

/* Left-aligned content: logo + title */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 0px;
}

/* KPMG logo styling */
.nav-logo-img {
  height: 12vh;
  width: auto;
}

/* Title next to the logo */
.nav-title {
  font-size: 1.1vw;
  font-weight: 600;
  color: #003087;
  font-weight: 800;
  margin-top: 1vh;
  margin-left: -10px;
}
